
.sakuraSection {
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.sakuraContent {
    
    text-align: left;
    margin-right: 30px;
}

.sakuraContent h1 {
    font-size: 96px; 
    font-weight: 900; 
    color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
    transform: translateX(-80px); 
}

.sakuraFeaturesList {
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(-400px); 
}

.sakuraFeaturesList li {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 30px; 
}

.sakuraDivider {
    width: 5px;
    height: 100%;
    background-color: #f1d166;
    position: absolute;
    right: 0; 
    top: 0;
}


.sakuraImageContainer {
    width: 600px; 
    height: 600px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    right: -300px; 
    top: 50%;
    transform: translateY(-50%);
    clip-path: inset(0 50% 0 0);
}

.sakuraImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sakuraFeaturesList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sakuraFeaturesList li {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 40px; /* مسافة أكبر بين العناوين */
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 50px; /* توسيع المساحة بين النص والخط */
}

.sakuraFeaturesList li::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: #f1d166; /* اللون الذهبي */
    position: absolute;
    right: 0; /* الخط الذهبي يكون في اليمين */
    top: 0;
}
